## IRIS; 사이킷런의 대표적 실습 데이터
### 붓꽃의 꽃받침, 꽃잎의 폭과 너비를 이용해서 붓꽃 품종을 예측

![title](img/iriss.png)

https://scikit-learn.org/stable/datasets/index.html  
에서 다양한 데이터셋 확인이 가능하다

### 1. 데이터 로드

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# pandas , numpy 불러오기
import pandas as pd
import numpy as np

# iris 데이터 로드해오기
from sklearn.datasets import load_iris
iris_dataset = load_iris()

Mounted at /content/drive

### 2. 데이터 살펴보기

In [ ]:
# type 확인
type(iris_dataset)

sklearn.utils.Bunch

===========================================================  
Bunch; sklearn 에서 제공하는 데이터셋의 자료형

data: (필수) 독립 변수 ndarray 배열  
target: (필수) 종속 변수 ndarray 배열  
feature_names: (옵션) 독립 변수 이름 리스트  
target_names: (옵션) 종속 변수 이름 리스트  
DESCR: (옵션) 자료에 대한 설명
<br>
<br>
→ 일종의 딕셔너리형 구조라고 생각하면 이해하기 쉽다

===========================================================

In [ ]:
# key값 출력
print("iris_dataset의 key 값:", iris_dataset.keys())

iris_dataset의 key 값: dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [ ]:
# DESCR 500행까지 출력 + 줄바꿔서
print(iris_dataset['DESCR'][:500]+'\n...')

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica


...

In [ ]:
#feature_names, target_names 출력

print('iris_dataset의 feature_names 값: ', iris_dataset['feature_names'])
print('iris_dataset의 target_names 값: ', iris_dataset['target_names'])

iris_dataset의 feature_names 값:  ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
iris_dataset의 target_names 값:  ['setosa' 'versicolor' 'virginica']

In [ ]:
# pandas 로 dataset 가져오기
print('iris dataset 의 data 값')

X_iris = pd.DataFrame(iris_dataset['data'])
X_iris.head(5)

iris dataset 의 data 값

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

### 3. Local 에서 직접 data 를 불러오도록 하자

In [ ]:
# iris 데이터 불러오기
# 상위 10개만 불러오기
iris = pd.read_csv('/content/drive/MyDrive/machine_learning/2weeks/02-실습코드 (KNN)/iris.csv')
iris.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

#### Data PreProcessing

##### 1. Split X and Y

In [ ]:
# X값 설정해주기(X_iris) ('sepal.length','sepal.width','petal.length', 'petal.width')
# Y값 설정해주기(Y_iris) ('variety')

X_iris = iris[['sepal.length','sepal.width','petal.length', 'petal.width']]
Y_iris = iris[['variety']]

Column 명을 변경

In [ ]:
# 컬럼명 변경 -> 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'
# 상위 5개만 출력하기

X_iris_columns = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
X_iris.columns = X_iris_columns
X_iris.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
# y_iris 확인해보기
print(Y_iris['variety'])

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [ ]:
# y값 중복없이 확인하기
Y_iris['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

### 3. Split train set, test set

In [ ]:
# 함수를 이용해서 나누기
# 필요한 모듈 속 함수 불러오기
# train, test 나누기 (7:3), seed는 0으로 고정

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_iris, Y_iris, test_size = 0.3, random_state=0)

In [ ]:
# train 크기 확인하기
print('X_train의 크기 {}'.format(X_train.shape))
print('y_train의 크기 {}'.format(y_train.shape))

X_train의 크기 (105, 4)
y_train의 크기 (105, 1)

In [ ]:
# test 크기 확인하기
print('X_test의 크기 {}'.format(X_test.shape))
print('y_test의 크기 {}'.format(y_test.shape))

X_test의 크기 (45, 4)
y_test의 크기 (45, 1)

### 4. Machine learning modeling

In [ ]:
#knn 함수 불러오기
# 이웃변수 3개로 설정

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)

### 5. Training

In [ ]:
# X_train 확인하기
X_train

     sepal.length  sepal.width  petal.length  petal.width
60            5.0          2.0           3.5          1.0
116           6.5          3.0           5.5          1.8
144           6.7          3.3           5.7          2.5
119           6.0          2.2           5.0          1.5
108           6.7          2.5           5.8          1.8
..            ...          ...           ...          ...
9             4.9          3.1           1.5          0.1
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
117           7.7          3.8           6.7          2.2
47            4.6          3.2           1.4          0.2

[105 rows x 4 columns]

In [ ]:
# y_train 확인하기
y_train

        variety
60   Versicolor
116   Virginica
144   Virginica
119   Virginica
108   Virginica
..          ...
9        Setosa
103   Virginica
67   Versicolor
117   Virginica
47       Setosa

[105 rows x 1 columns]

In [ ]:
## knn 알고리즘 training
# X_train, y_train 학습 -> y_train은 1차원 배열로 바꿔사ㅓ

knn.fit(X_train, np.ravel(y_train))

KNeighborsClassifier(n_neighbors=3)

In [ ]:
# y_train의 모양 출력
# 1차원 배열로 바꾼 y_train의 값들의 모양출력
print(y_train.shape)
print(np.ravel(y_train).shape)

(105, 1)
(105,)

In [ ]:
## knn 알고리즘 traiging
# X_train과 1차원 배열로 바꾼 y_train의 값들을 knn으로 학습
knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(n_neighbors=3)

### 6. Predict

In [ ]:
import numpy as np

# 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)' 을 임의로 정한다
# 5, 2.1, 1.3, 0.2 의 수치로 정함
# 수치를 배열에 저장
Our_X = np.array([[5,2.1,1.3,0.2]])
print(Our_X)

[[5.  2.1 1.3 0.2]]

In [ ]:
# 임의의 데이터로 prediction
# 지정한 값으로 knn을 활용해 예측해보기
# 예측 결과 출력

prediction = knn.predict(Our_X)
print('예측: {}'.format(prediction))

예측: ['Setosa']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

### 7. Accuracy

In [ ]:
# X_test를 예측한 값들을 y_pred 변수에 저장
# 출력
y_pred = knn.predict(X_test)
print('테스트 세트에 대한 예측값 {}'.format(y_pred))

테스트 세트에 대한 예측값 ['Virginica' 'Versicolor' 'Setosa' 'Virginica' 'Setosa' 'Virginica'
 'Setosa' 'Versicolor' 'Versicolor' 'Versicolor' 'Virginica' 'Versicolor'
 'Versicolor' 'Versicolor' 'Versicolor' 'Setosa' 'Versicolor' 'Versicolor'
 'Setosa' 'Setosa' 'Virginica' 'Versicolor' 'Setosa' 'Setosa' 'Virginica'
 'Setosa' 'Setosa' 'Versicolor' 'Versicolor' 'Setosa' 'Virginica'
 'Versicolor' 'Setosa' 'Virginica' 'Virginica' 'Versicolor' 'Setosa'
 'Virginica' 'Versicolor' 'Versicolor' 'Virginica' 'Setosa' 'Virginica'
 'Setosa' 'Setosa']

In [ ]:
y_test.shape

(45, 1)

In [ ]:
# y_test 를 1차원 matrix 로 변경
y_test_flatten = np.array(y_test).flatten()

In [ ]:
# 결과 비교해보기
y_pred == y_test_flatten

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True])

In [ ]:
# 결과값들의 평균을 통해 정확도 계산하기
print('테스트 세트의 정확도: {:.2f}'.format(np.mean(y_pred == y_test_flatten)))

테스트 세트의 정확도: 0.98

In [ ]:
# 점수를 통해 정확도 계산하기
print('테스트 세트의 정확도: {:.2f}'.format(knn.score(X_test,y_test_flatten)))

테스트 세트의 정확도: 0.98